@font-face {
    font-family: 'gt_walsheim_bold';
    src: url('../fonts/gt-walsheim-bold-web.woff');
    src: url('../fonts/gt-walsheim-bold-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_light';
    src: url('../fonts/gt-walsheim-light-web.woff');
    src: url('../fonts/gt-walsheim-light-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_medium';
    src: url('../fonts/gt-walsheim-medium-web.woff');
    src: url('../fonts/gt-walsheim-medium-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('../fonts/gt-walsheim-regular-web.woff');
    src: url('../fonts/gt-walsheim-regular-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
