$regular: 'gt_walsheim_regular', Arial, sans-serif;
$semibold: 'gt_walsheim_medium', Arial, sans-serif;
$bold: 'gt_walsheim_bold', Arial, sans-serif;

$bg: #F0F7F4;
$text: #555;
$white: #fff;
$error: #f87669;
