<!doctype html>
<html lang="en" ng-app="app" ng-controller="AppCtrl">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.ico">
  <title>isguc.co</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 class="holder">isguc.co</h1>